.env.docker
.env.local
.venv
.idea
.python-version
order/pg_orders/*
product/pg_products/*
user/pg_users/*
cart/pg_cart/*
order/.venv
user/.venv
product/.venv
cart/.venv
order/repositories/errors.log
order/repositories/order_repo.log
*.pyc
__pycache__/
uv.lock